<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Intro a VueJS</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="style.css">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="scripts/components/tabs.js"></script>
    <script src="scripts/components/tab-cities.js"></script>
    <script src="scripts/components/tab-distances.js"></script>
    <script src="scripts/components/tab-markethall.js"></script>
    <script src="scripts/components/city-card.js"></script>
</head>

<body>
    <div id="app" class="container">
        <tabs></tabs>
    </div>

    <template id="tabstemplate">
        <div>
            <button v-for="tab in tabs" v-bind:key="tab" v-bind:class="['tab-button', { active: currentTab === tab }]"
                v-on:click="currentTab = tab">{{tab}}</button>

            <component v-bind:is="currentTabComponent" class="tab"></component>
        </div>
    </template>

    <template id="cityCard">
        <div class="panel panel-primary">
            <div panel-heading>
                <h3 class="panel-title">{{city.Name}}</h3>
            </div>
        </div>
    </template>

    <template id="tabcities">
        <div>
            <div class="col-md-6 col-md-offset-3">
                <ul class="list-group">
                    <li v-for="city in cities" class="list-group-item city">
                        <span>{{city.Name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </template>


    <template id="tabmarkethall">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-4">
                    <select class="custom-select" v-model="cityselected" v-on:change="onChangeCitySelected">
                        <option disabled value="">Please select one</option>
                        <option v-for="city in cities">{{city.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Commodity</th>
                            <th scope="col">Type</th>
                            <th scope="col">Buy</th>
                            <th scope="col">Sell</th>
                            <th scope="col">Consumption</th>
                            <th scope="col">Production</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="commodity in commodities">
                            <th scope="row">
                                {{commodity.Name}}
                            </th>
                            <td scope="row">
                                <div v-if="commodity.CommodityType === 1">Load</div>
                                <div v-else>
                                    Barrel
                                </div>
                            </td>
                            <td scope="row">
                                <input type="text" class="form-control my-3" v-model.number="commodity.Buy">
                            </td>
                            <td scope="row">
                                <input type="text" class="form-control my-3" v-model.number="commodity.Sell">
                            </td>
                            <td scope="row">
                                <input type="text" class="form-control my-3" v-model.number="commodity.Consumption">
                            </td>
                            <td scope="row">
                                <input type="text" class="form-control my-3" v-model.number="commodity.Production">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-end">
                <button class="btn btn-primary" v-on:click="save">Save</button>
            </div>
        </div>
    </template>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="main.js"></script>
</body>

</html>