<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Intro a VueJS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="scripts/components/tabs.js"></script>
    <script src="scripts/components/tab-cities.js"></script>
    <script src="scripts/components/tab-distances.js"></script>
    <script src="scripts/components/city-card.js"></script>
</head>

<body>
    <div id="app" class="container">
        <tabs></tabs>
    </div>

    <template id="tabstemplate">
        <div>
            <button v-for="tab in tabs" v-bind:key="tab" v-bind:class="['tab-button', { active: currentTab === tab }]"
                v-on:click="currentTab = tab">{{tab}}</button>

            <component v-bind:is="currentTabComponent" class="tab"></component>
        </div>
    </template>

    <template id="cityCard">
        <div class="panel panel-primary">
            <div panel-heading>
                <h3 class="panel-title">{{city.Name}}</h3>
            </div>
        </div>
    </template>

    <template id="citiestemplate">
        <div>
            <div class="col-md-6 col-md-offset-3">
                <ul class="list-group">
                    <li v-for="city in cities" class="list-group-item city">
                        <span>{{city.Name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </template>

    <script src="main.js"></script>
</body>

</html>